%h1.center Add a New Restaurant

= form_for @restaurant do |f|
  = f.label :name, 'Name:'
  = f.text_field :name
  %br
  = f.label :street_address, 'Street Address:'
  = f.text_field :street_address
  %br
  = f.label :city, 'City:'
  = f.text_field :city
  %br
  = f.label :state, 'State:'
  = f.text_field :state
  %br
  %br
  = f.submit 'Add Restaurant'